<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Welcome to To Do List</h1>

        <p><a href="/categories">Click Here</a> to see and add categories</p>

        <p><a href="/tasks">Click here</a> to see and add tasks.</p>

        <!-- <p><a href="/total">Click here</a> to see all of the tasks and categories.</p> -->
    </body>
</html>
